.imgOne{ 
height: 50%; 
width: 50%; 
} 
.nomer{ 
font-size: 16px;
color: white; 
margin-top: 5%; 
margin-left: 50%; 
} 
.header{ 
background-color: #446CB3; 
} 
.imgTwo{ 
margin-top: 5%; 
height: 100%; 
width: 100%; 
} 
.zakaz{ 
margin-top:2.5%; 
font-size: 16px; 
} 
.form-control{ 
width: 70%; 
margin-left: 15%; 
margin-right: 15%; 
} 
.btn{ 
width: 70%; 
margin-left: 15%; 
margin-right: 15%; 
} 
.selKind{ 
width: 5s%; 
} 
.kinds{ 
margin-top: 5%; 
margin-left: 25%; 
margin-right: 25%; 
border-radius: 50%; 
width: 200px; 
height: 200px; 
} 
.podval{ 
background-color: #446CB3; 
color: white;

}

.GG{
	color: white;

}
.GG1{
	color: white;
}